<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>{{title}}</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dashboard</a>
            <span class="text-white d-flex">
                <div class="dropdown dropstart dropdown">
                    <button class="btn menu-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class=" text-white fa-solid fa-user-astronaut"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
                        <li class="text-secondary px-2">
                            <h6>Username</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addGroupModal">
                                <i class="fa-solid fa-add"></i>
                                Add Group
                            </button>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </nav>

    <div class="d-flex align-items-start justify-content-start">
        <div style="flex: 1" class="shadow-sm list-group list-group-flush border border-right ">
            {{#each groups}}
            <li class="list-group-item list-group-item-action {{active}}">
                <a href="/groups/{{id}}" class="text-decoration-none text-dark">
                    <div class="d-flex justify-content-center align-items-center py-4">
                        <i class="fa-solid fa-layer-group fa-xl"></i>
                    </div>
                    <div style="font-size: 14px; text-align: center;">
                        {{name}}
                    </div>
                </a>
            </li>
            {{/each}}
        </div>
        <div style="flex: 9" class="container-fluid">
            <div class="container-sm">
                {{{body}}}
            </div>
        </div>
    </div>
    <style>
        .bg-nerutral {
            background-color: rgb(238, 238, 238);
        }
        .list-group-item.active > a {
            color: white!important;
        }
    </style>

    <div class="modal fade" id="addGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/groups" method="post" class="modal-body">
                    <div class="mb-3">
                        <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                    </div>
    
                    <div class="mb-3">
                        <textarea id="desc" name="desc" class="form-control" maxlength="128" rows="4"></textarea>
                    </div>
                    <hr class="divider">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>